
/*Body*/
#founderbio {
  font-size: 2.4rem;
  width: 54.8rem;
}

/*Used for images and name tags */
.row {
  display: flex; /* default is row */
  justify-content: center;
}
.column {
  margin: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
}

.Imagegroup {
  width: 100px;
}


/* Get Started for free button */
.button {
  font-size: 2.5rem;
  font-family: "Darker Grotesque";
  text-align: center;
  margin: 0 auto;
  display: block;
}
