* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* fonts */
@font-face {
  font-family: "Handwriting";
  src: url(../fonts/DrewHandwriting2.ttf);
}

/*Nav Bar (Npte: Delete "About Button and Replace)*/
.header {
  color: #101111;
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}
#navBarLogo {
  font-family: "Handwriting", sans-serif;
  font-size: 48px;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
}

li {
  text-decoration: none;
  color: #101111;
  font-weight: bold;
  font-size: 24px;
  font-family: "Darker Grotesque", sans-serif;
}
a {
  text-decoration: none;
  color: #101111;
  cursor: pointer;
}

/* Header */
#title {
  display: flex;
  justify-content: center;
  color: #101111;
  text-align: center;
  font-size: 96px;
  font-family: "Handwriting", sans-serif;
  white-space: nowrap;
}

/*h2 */

h2{
  margin: 0;
  padding: 30px;
  font-size: 96px;
  justify-content: center;
  align-items: center;
}

/* Sub Header */
#h3 {
  margin-top: -50px;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 40px;
  display: center;
  text-align: center;
  margin-bottom: 47px;
}

/* Main */
main {
  
  padding-right: 350px;
  padding-left: 350px;
  padding-bottom: 47px;
}

/*Body*/
body {
  min-height: 100vh;
  background-image: url("../images/background-img.png"),
    linear-gradient(#778487, #778487);
}

#founderbio {
  font-size: 24px;
  font-family: "Darker Grotesque", sans-serif;
  color: #101111;
  text-align: justify;
  font-weight: 500;
  vertical-align: top;
}

/* Page title */
.title {
  font-size: 96px;
  font-family: "Handwriting", sans-serif;
}

/*Used for images and name tags */
.row {
  display: flex; /* default is row */
  justify-content: space-around;
  margin-right: 299px;
  margin-left: 299px;
}

.column {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Imagegroup1 {
  width: 100px;

}

.Imagegroup2 {
  width: 100px;
  padding-bottom: 159px;
}

.NameTag1 {
  padding-top: 101px;
  padding-bottom: 15px;
  font-family: "Handwriting", sans-serif;
  font-size: 24px;
  color: #101111;
  font-weight: bold;
}

.NameTag2 {
  padding-bottom: 15px;
  padding-top: 86px;
  font-family: "Handwriting", sans-serif;
  font-size: 24px;
  color: #101111;
  font-weight: bold;
}



/* Get Started for free button */
.button {
  font-size: 2.5rem;
  font-family: "Darker Grotesque", sans-serif;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 519px; 
  height: 67px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #373737;
  background-color: #bfbfbf;
  font: "Darker Grotesque";
  font-size: 40px;
  font-weight: bold;
}