* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Handwriting";
  src: url(../fonts/DrewHandwriting2.ttf);
}

html {
  /* 62.5% of 16px browser font size  is 10px */
  font-size: 62.5%;
}

body {
  font-family: "Darker Grotesque", sans-serif;
  /* 16px = 1.6rem */
  font-size: 1.6rem;
  min-height: 100vh;
  background-image: url("../images/background-img.png"),
    linear-gradient(#778487, #778487);
}

/* ---------------------- */
/* NAV BAR */
.header {
  color: #101111;
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family: "Handwriting", sans-serif;
  font-size: 4.8rem;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 0.8rem;
}

a {
  text-decoration: none;
  color: #101111;
  font-weight: bold;
  font-size: 2.4rem;
  font-family: "Darker Grotesque", sans-serif;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

/* ---------------------- */
/* SEARCH BOX */
.search-box {
  margin-bottom: 1.6rem;
  width: 70vw;
  color: #212121;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.search-bar {
  position: relative;
  margin-bottom: 0.8rem;
}

.search-bar input {
  width: 100%;
  border: none;
  padding: 1.2rem 0.8rem;
}

.glass-icon {
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem 0.8rem;
}

#item-search {
  border-radius: 1.3rem;
  height: 7vh;
  font-size: 1.5rem;
}

.tag-group button {
  font-size: 1.6rem;
  background-color: #ffffff;
  height: 4rem;
  text-align: center;
  border: none;
  border-radius: 2rem;
  padding: 0 2rem;
  margin-right: 0.5rem;
}

#plus-btn {
  font-size: 2rem;
  color: #ffffff;
  background-color: #9fbe6b;
  text-align: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

/* ---------------------- */
/* INTRO */
.intro {
  width: 70vw;
  height: auto;
  color: #212121;
  background-color: #ffffff;
  border-radius: 1.3rem;
  position: relative;
  padding: 1.6rem;
  line-height: 2.7rem;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

p {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

input[type="checkbox"] {
  margin-right: 0.32rem;
}

.item-status {
  list-style: none;
  margin-right: 4rem;
}

.item-status li {
  margin-bottom: 0.8rem;
}
.item-status input {
  margin-left: 0;
}

.fa-user {
  margin-right: 0.32rem;
}

.calendar {
  background-color: #9fbe6b;
  width: 3rem;
  height: 3rem;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 2.4rem;
  left: -3rem;
}

.calendar .fa-calendar-days {
  color: #ffffff;
}

.details {
  width: 70%;
  margin-bottom: 1.6rem;
}

/* ---------------------- */
/* CREATE NEW ITEM */
.add-item-btn,
.confirm-btn {
  width: 70vw;
  height: 7vh;
  border-radius: 1.3rem;
  border: none;
  cursor: pointer;
  color: #373737;
  background-color: #bfbfbf;
  font-size: 1.6rem;
  font-weight: bold;
}

.confirm-btn {
  margin-bottom: 3.2rem;
}
.fa-circle-plus {
  margin-left: 0.48rem;
}

.create-item {
  background: transparent;
}

.create-item-content {
  width: 70vw;
  background-color: #ffffff;
  border-radius: 1.3rem;
  padding: 1.6rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  flex-wrap: wrap;
  line-height: 2.7rem;
}

.left,
.right {
  list-style: none;
}

.left {
  width: 70%;
  margin-bottom: 1.6rem;
}

.left input {
  width: 100%;
  border: none;
}

.left li {
  padding: 0.5rem;
}

.visually-hidden {
  display: none;
}

.right {
  padding-top: 0.8rem;
}

.left input,
.right input {
  border: none;
  border-bottom: 1px solid #bfbfbf;
}

input[type="text"] {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.6rem;
  color: #757575;
}

#name {
  font-size: 4rem;
  font-weight: 900;
}

#description {
  font-size: 2.4rem;
  font-weight: 500;
}

#item-1 {
  font-weight: 700;
}

#new-item {
  font-weight: 400;
  color: #a8a8a9;
}

#assign {
  width: 60%;
}

#deadline {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.6rem;
  width: 60%;
  color: #757575;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
